body {
  font-family: 'Open Sans', sans-serif;
  background-color: antiquewhite;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: lightblue;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
  border: 1px solid black;
}

#toDoHeader{
  text-shadow: 2px 2px #06aed5;
  display: none;
}

#toDo {
  text-shadow: none;
  list-style: none;
  font-size: 20px;
}

.jumbotron {
  text-align: center;
  background-color: lightblue;
  color: black;
  border-radius: 0;
  border-bottom: 20px solid antiquewhite;
  text-shadow: 2px 2px #06aed5;
}

.description {
  white-space: pre-wrap;
}

.time-block, #toDoHeader {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.past {
  background-color: #F2EDDC;
  color: white;
}

.present {
  background-color: #D96A29;
  color: white;
}

.future {
  background-color: #69AFBF;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: black;
}

.saveBtn i:hover {
  font-size: 60px;
  transition: all 0.5s ease-in-out;
}
