:root {
  --Heaven: white;
  --Sky: steelblue;
  --Night: black;
  --Beach: antiquewhite;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--Beach);
  font-size: 16px;
  line-height: 1;
}

textarea {
  background-color: transparent;
  border: none;
  resize: none;
  color: var(--Night);
  padding: 10px;
  border: 1px solid var(--Night);
}

#toDoHeader{
  text-shadow: 1px 1px var(--Sky);
  display: none;
}

#toDo {
  text-shadow: none;
  list-style: none;
  font-size: 20px;
}

.jumbotron {
  text-align: center;
  background-color: lightblue;
  color: var(--Night);
  border-radius: 0;
  border-bottom: 20px solid var(--Beach);
  text-shadow: 1px 1px var(--Sky);
}

.description {
  white-space: pre-wrap;
}

.time-block, #toDoHeader {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--Heaven);
}

.hour {
  background-color: var(--Heaven);
  color: var(--Night);
  border: 1px solid var(--Night);
}

.past {
  background-color: lightgray;
  color: var(--Heaven)
}

.present {
  background-color: lightcoral;
  color: var(--Heaven)
}

.future {
  background-color: lightgreen;
  color: var(--Heaven)
}

.saveBtn {
  font-size: 30px;
  border-left: 1px solid var(--Night);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--Sky);
  color: var(--Night);
}

.saveBtn i:hover {
  font-size: 60px;
  transition: all 0.5s ease-in-out;
}
